/* import custom fonts */
@font-face {
  font-family: 'Jaapokki';
  src: url('fonts/Jaapokki-Regular.otf'), url('/fonts/Jaapokki-Regular.otf');
}

@font-face {
  font-family: 'LemonMilk';
  src: url('fonts/LemonMilkbold.otf'), url('/fonts/LemonMilkbold.otf');
}

/* define colors */
:root { /*declare color vars for use elsewhere */
	--offwhite: #f9f9f9; /* offwhite */
  --hackbi: #fc4d45;  /* red */
  --hacktj: #1faff1;  /* blue */
  --love2d: #e74a99; /* pink */
  --l-orange: #ff9340;  /* Orange */
	--very-dark-grey: rgb(51, 51, 51);  /* Gray */
}

.html {
  font-family: Metrophobic;
  font-size: 1em;
}

.grid {
  display: grid;
  width: 110%;
  height: 100%;
  text-align: center; /* aligns the text of all componenets */
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr ; /* 4 columns of equal size */
  grid-template-rows: repeat(1fr 9);
  grid-template-areas:
  "about"
  "slot1"
  "slot2"
  "slot3"
  "slot4"
  "slot5"
  "slot6"
  "slot7"
  "slot8"
  "slot9"
  "footer";
  grid-gap: 5px;
}
/*change border color on hover */
.about {
  grid-area: about;
  background: white;
  font-family: Metrophobic;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.hackbi {
  grid-area: slot1;
  background: var(--hackbi);
  color: white;
  font-family: Jaapokki;
  font-size: 4vw;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  align-self: stretch;
}

#hackbi:hover {
  color: orange;
}

.hackital {
  grid-area: slot2;
  background: black;  /* black and hackital logo */
  align-self: stretch; /* makes the div fill its grid spot */
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  /*transition: padding-top 1s;  fun but too destructive */
}

.hackital:hover {
}

.postfix-calc {
  grid-area: slot3;
  background-color: orange;
  color: white;
  font-family: Jaapokki;
  font-size: 2vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  transition: color .5s;
  transition: background-color .5s;
}
.postfix-calc:hover {
  background: white;
  color: orange;
}

.hacktj {
  grid-area: slot4;
  background: var(--hacktj);
  color: white;
  font-family: Jaapokki;
  font-size: 4vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.love2d {
  grid-area: slot5;
  background: var(--love2d);
  color: white;
  font-family: Jaapokki;
  font-size: 2vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.java {
  grid-area: slot6;
  background: var(--hackbi);
  color: white;
  font-family: Jaapokki;
  font-size: 2vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.youtube {
  grid-area: slot7;
  background: var(--very-dark-grey);
  color: white;
  font-family: Jaapokki;
  font-size: 4vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.youtube:hover{ /*do some effect like this on all divs */
  border-color: yellow;
}

.graphic-design {
  grid-area: slot8;
  background: var(--hackbi);
  color: white;
  font-family: Jaapokki;
  font-size: 2vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.p5-js {
  grid-area: slot9;
  background: var(--hackbi);
  color: white;
  font-family: Jaapokki;
  font-size: 4vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.footer {
  grid-area: footer;
  background: var(--offwhite);
  color: black;
  font-family: Metrophobic;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

/* content stuff */

/* build for mobile, and adapt for desktop */
@media screen and (min-width: 1000px) {
  .grid {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "about slot1 slot2 slot3"
    "about slot4 slot5 slot6"
    "footer slot7 slot8 slot9"  /* for desktop */
  }
