/* GRID ANIMATION SETUP */
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* CUSTOM FONTs */
@font-face {
  font-family: 'Jaapokki';
  src: url('fonts/Jaapokki-Regular.otf'), url('/fonts/Jaapokki-Regular.otf');
}

@font-face {
  font-family: 'LemonMilk';
  src: url('fonts/LemonMilkbold.otf'), url('/fonts/LemonMilkbold.otf');
}

/* CUSTOM COLOR VARIABLES */
:root { /*declare color vars for use elsewhere */
	--offwhite: #f9f9f9; /* offwhite */
  --hackbi: #fc4d45;  /* red */
  --hacktj: #1faff1;  /* blue */
  --love2d: #e74a99; /* pink */
  --l-orange: #ff9340;  /* Orange */
	--very-dark-grey: rgb(51, 51, 51);  /* Gray */
}

.html {
  font-family: Metrophobic;
  font-size: 1em;
}

/* GRID */
.grid {
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center; /* aligns the text of all componenets */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr 9);
  grid-template-areas:
  "about"
  "slot1"
  "slot2"
  "slot3"
  "slot4"
  "slot5"
  "slot6"
  "slot7"
  "slot8"
  "slot9"
  "footer";
  grid-gap: 5px;

  /* this is so extra but I love it hahahahahah */
  /* https://hackernoon.com/how-to-create-fancy-revealing-animations-with-these-simple-css-tricks-5b34614ae69a */
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}

/* ABOUT */
.about {
  grid-area: about;
  background: white;
  font-family: Metrophobic;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;

  background: linear-gradient(white, white 50%, #332171 50%, #332171);
  background-size: 100% 200%;
  transition: all 0.2s ease;
}

.about:hover {
  background-position: 100% 100%;
  color: white;
  /* border-color: #e37070; */
  /* border-width: 5px; shuffles content unnecesarily */
}

/* HACKBI */
.hackbi {
  grid-area: slot1;
  background: var(--hackbi);
  color: white;
  font-family: Jaapokki;
  font-size: 4vw;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  align-self: stretch;
  cursor: default;
}

#hackbi:hover {
  color: orange;
}

/* HACKITAL TILE */

.hackital {
  padding-top: 10px;
  transition: padding-top 1s;
}

.fill { /*work around to center img */
  align-self: stretch;
  grid-area: slot2;
  background: black;  /* black and hackital logo */
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

/* POSTFIX TILE */

.postfix-calc {
  grid-area: slot3;
  background: orange;
  color: white;
  font-family: Jaapokki;
  font-size: 2vw;
  padding: 5px;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  transition: color .5s;
  transition: background-color .5s;
}

#expression {
  font-family: Metrophobic;
}

.hacktj {
  grid-area: slot4;
  background: var(--hacktj);
  color: white;
  font-family: Jaapokki;
  font-size: 4vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.love2d {
  grid-area: slot5;
  background: var(--love2d);
  color: white;
  font-family: Jaapokki;
  font-size: 2vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  cursor: default;
}

.java {
  grid-area: slot6;
  background: #680c80; /*eclipse purple??? */
  color: white;
  font-family: Jaapokki;
  font-size: 2vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

/* YOUTUBE STUFF */

.youtube {
  grid-area: slot7;
  background: var(--very-dark-grey);
  color: white;
  font-family: LemonMilk;
  font-size: 2vw;
  align-self: stretch;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}


.graphic-design {
  grid-area: slot8;
  background-image: url("http://i.imgur.com/uujoS2S.gif"); /* http://i.imgur.com/uujoS2S.gif */
  color: rgb(147, 127, 74); /* make a gif of arrows or something original */
  font-family: Jaapokki;
  font-size: 2vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  cursor: default;
}

.p5-js {
  grid-area: slot9;
  background: var(--hackbi);
  color: white;
  font-family: Jaapokki;
  font-size: 4vw;
  align-self: stretch;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

.footer {
  grid-area: footer;
  background: var(--offwhite);
  color: black;
  font-family: Metrophobic;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

/* ICONS */
.fa {
  color: gray;
  text-decoration: none;
  font-size: 4vw;
  padding: 5px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

/* COMPATIBILITY */

/* Desktop adjustments */
@media screen and (min-width: 1200px) {
  .grid {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; /*220 = no scrolling, but causes compatibility issues... */
    grid-template-areas:
    "about slot1 slot2 slot3"
    "about slot4 slot5 slot6"
    "footer slot7 slot8 slot9"  /* for desktop */
    /* manually set height to 311 x 280 or even a smaller height */
  }

  .fill:hover .hackital {
    padding-top: 145px;
  }

  .postfix-calc {
    font-size: 2vw;
  }
  .postfix-calc:hover {
    background: white;
    color: orange;
  }

  #youtube {
    transition: padding-top 1s;
  }

  .youtube:hover #youtube {
    color: #7ae9f0;
    padding-top: 100px;
  }
}

/* Mobile overrides */
@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr; /* 4 columns of equal size */
    grid-template-rows: repeat(1fr 9);
    grid-template-areas:
    "about"
    "slot1"
    "slot2"
    "slot3"
    "slot4"
    "slot5"
    "slot6"
    "slot7"
    "slot8"
    "slot9"
    "footer";
  }

  #expression { /*hide the expression on mobile */
    display: none;
  }
}
